*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(assets/images/bg.jpg);
    height: 80vh;
    position: relative;
}
.main .box{
    height: 80vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    filter: opacity(0.44);
}
nav{
    background-color: red;
    opacity: 0.44;
}
nav span{
    opacity: ;
}